### PyCharm ###
.idea

### Cache ###
__pycache__
.ruff_cache

### Environment ###
.env
settings.yaml
static
.venv
mailing_list.txt
already_sent.txt

### Sensible ###
/private.pem
/public.pem

/tmp

### macOS stuff ###
.DS_Store
